 <nav class="sidebar">
        <div class="sidebar-brand">
            <h2><i class="fas fa-mountain me-2"></i>Fabex</h2>
        </div>
        <div class="sidebar-nav">
            <a href="/dashboard" class="nav-item">
                <i class="fas fa-home nav-icon"></i>
                Home
            </a>
            <!-- <a href="#" class="nav-item">
                <i class="fas fa-chart-line nav-icon"></i>
                Market
            </a> -->
            <a href="/chart" class="nav-item">
                <i class="fas fa-exchange-alt nav-icon"></i>
                Market & Trade
            </a>
            <a href="/orders" class="nav-item">
                <i class="fas fa-list nav-icon"></i>
                Order
            </a>
            <a href="/balance" class="nav-item">
                <i class="fas fa-wallet nav-icon"></i>
                Balances
            </a>
        </div>
    </nav>